<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
		<img src="img/aboutImg.jpg" class="aboutImg">
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="aboutText">
				<h1>About</h1>
				<p>Hi there, thanks for popping by! My name is Sarah and I’m a Personal Trainer and Fitness Instructor based in York.</p>

<p>A little bit about me:
I went into the fitness industry because I truly understand the importance of a healthy body and mind for a fantastic life and I have always had a genuine desire to help people.</p> 

<p>Having been on my own journey and getting tired of feeling bad about myself, I began running as a way to get exercise and start feeling good. My mother was adamant it had changed her life, so I gave it a go and I knew that she was right (as always!). I instantly felt better in my body and my mind and it became addictive. I quickly realised that running was not the only way to feel amazing, so I began to explore other paths to lead a happy, healthy and fulfilling life. I felt so inspired about how exercise, real nutrition and a positive mindset had such a profoundly positive affect, that I knew it was my mission to share the message and inspire others to feel amazing too.</p> 

<p>So whether your goal is to lose weight, get stronger or simply to feel fantastic - I'm the girl for you!</p>

			</div>
		</div>
	</div>

	<div class="row aboutText">
		<div class="col-md-6 col-sm-12">
			<h1>Qualifications:</h1>

			<p>Level 3 Certificate in Personal Training and Fitness Instructing<br>
			B.Sc in Psychology (The University of Manchester)<br>
			Nutritional Advisor<br>
			Kettlebells<br>
			Certificate in Studio Cycling<br>
			Gym Based Circuit Training<br>
			Gym Based Boxing<br>
			Sports Nutrition</p>
		</div>

		<div class="col-md-6 col-sm-12">
			<h1>Specialist Areas:</h1>
			<p>Body fat loss<br>
			Bespoke Nutrition Plan for your body type and lifestyle<br>
			Mindset and motivation<br>
			Strength and Conditioning<br>
			Hypertrophy<br>
			Group Fitness Instructing</p>
		</div>
	</div>
</div>
	
	
