<div class="container contactMargin">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h2>Contact</h2>
			<p>If you would like to get in contact please use the contact form below or contact me via my social media links.<br><strong>Looking forward to hearing from you!</strong></p>
			<p>Alternativly you can E-Mail me direct at:<br>
			<strong>sara.christine.c123@gmail.com</strong></p>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="socialCont">
				<div class="hovereffect">
	        	<img class="img-responsive" id="socialImg" src="/img/potato.jpg" alt="">
		            <div class="overlayContact">
		                <h2 class="socialTxt">Social Media</h2>
		                <p class="set1">
		                    <a class="socialIcon" href="#">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="socialIcon"  href="#">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </p>
		                <hr>
		                <hr>
		                <p class="set2">
		                    <a class="socialIcon"  href="#">
		                        <i class="fa fa-instagram"></i>
		                    </a>
		                    <a class="socialIcon"  href="#">
		                        <i class="fa fa-dribbble"></i>
		                    </a>
		                </p>
		            </div>
		    		</div>
	    		</div>
			</div>
	</div>
</div>

<div class="container form-margin">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			
			<form id="contact-form" method="post" action="contact.php" role="form">
			<div class="messages"></div>
				<div class="controls">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="firstName">First Name *</label>
								<input id="firstName" type="text" name="name" class="form-control" placeholder="Please enter your First Name *" required="required" data-error="First Name is required">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="lastName">Last Name *</label>
								<input id="lastName" type="text" name="surname" class="form-control" placeholder="Please enter your Last Name *" required="required" data-error="Last Name is required">
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="formEmail">E-Mail *</label>
								<input id="formEmail" type="email" name="email" class="form-control" placeholder="Please enter your E-Mail *" required="required" data-error="A valid E-Mail address is required">
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="fromPhone">Phone</label>
								<input id="fromPhone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone number">
								<div class="help-block with-errors"></div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="formMessage">Message *</label>
								<textarea id="formMessage" name="message" class="form-control" placeholder="Your Message *" rows="5" required="required" data-error="Please enter your message in Message field"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>

						<div class="col-md-12">
							<input type="subit" class="btn btn-success btn-send" value="Send">
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<p class="text-muted">Fields marked with <strong>*</strong> are required</p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>