<div class="container contactMargin">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h2>Contact</h2>
			<p>If you would like to get in contact please use the contact form below or contact me via my social media links.<br><strong>Looking forward to hearing from you!</strong></p>
			<p>Alternatively you can E-Mail me direct at:<br>
			<i class="fa fa-envelope-o" aria-hidden="true"></i><strong>  sarah.christine.c123@gmail.com</strong></p>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="socialCont">
				<div class="hovereffect">
	        	<img class="img-responsive" id="socialImg" src="/img/feet.png" alt="">
		            <div class="overlayContact">
		                <h2 class="socialTxt">Social Media</h2>
		                <p class="set1">
		                    <a class="socialIcon" href="#">
		                        <i class="fa fa-twitter"></i>
		                    </a>
		                    <a class="socialIcon"  href="#">
		                        <i class="fa fa-facebook"></i>
		                    </a>
		                </p>
		                <hr>
		                <hr>
		                <p class="set2">
		                    <a class="socialIcon"  href="#">
		                        <i class="fa fa-instagram"></i>
		                    </a>
		                    <a class="socialIcon"  href="#">
		                        <i class="fa fa-dribbble"></i>
		                    </a>
		                </p>
		            </div>
		    		</div>
	    		</div>
			</div>
	</div>
</div>

<div class="container form-margin">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div ng-controller="ContactController">
				<form ng-submit="submit(contactform)" name="contactform" method="post" role="form">
				
					<div class="controls">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-class="{ 'has-error': contactform.firstName.$invalid && submitted }">
									<label for="firstName">First Name *</label>
									<input ng-model="formData.firstName" id="firstName" type="text" name="firstName" class="form-control" placeholder="Please enter your First Name *" required="required">
									
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" ng-class="{ 'has-error': contactform.lastName.$invalid && submitted }">
									<label for="lastName">Last Name *</label>
									<input ng-model="formData.lastName" id="lastName" type="text" name="lastName" class="form-control" placeholder="Please enter your Last Name *" required="required" data-error="Last Name is required">
									
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group" ng-class="{ 'has-error': contactform.formEmail.$invalid && submitted }">
									<label for="formEmail">E-Mail *</label>
									<input ng-model="formData.formEmail" id="formEmail" type="email" name="formEmail" class="form-control" placeholder="Please enter your E-Mail *" required="required" data-error="A valid E-Mail address is required">
									
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group" ng-class="{ 'has-error': contactform.fromPhone.$invalid && submitted }">
									<label for="fromPhone">Phone</label>
									<input ng-model="formData.fromPhone" id="fromPhone" type="tel" name="fromPhone" class="form-control" placeholder="Please enter your phone number">
									
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group" ng-class="{ 'has-error': contactform.formMessage.$invalid && submitted }">
									<label for="formMessage">Message *</label>
									<textarea ng-model="formData.formMessage" id="formMessage" name="formMessage" class="form-control" placeholder="Your Message *" rows="5" required="required" data-error="Please enter your message in Message field"></textarea>
									
								</div>
							</div>

							<div class="col-md-12">
								<input type="submit" class="btn btn-success btn-send" ng-disabled="sumbitButtonDisabled" value="Send">
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<p class="text-muted">Fields marked with <strong>*</strong> are required</p>
							</div>
						</div>
					</div>
				</form>
				<p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
			</div>
		</div>
	</div>
</div>