/* fonts */

@font-face {
	font-family: "bite-the-bullet";
	src: url("fonts/Bite _ Bullet.ttf") format("truetype"); /* not used due to licence */
}

/* background*/

body {
	background: url(/img/crumpledPaper.jpg); 
	background-size: cover;
}


h1, h2 {
	font-family: "Shadows Into Light";
	font-size: 40px;
	color: #ff8533;
	margin-bottom: 25px;
}

h4 {
	font-family: "Shadows Into Light";
	font-size: 26px;
	color: #ff8533;
	margin-bottom: 0;
}

p {
	font-family: "Neucha";
	color: #008080;
}

a {
	font-family: "Shadows Into Light Two";
	color: #ff8533;
}





/* nav style */

.navbar {
	background: linear-gradient(to right, rgba(0,204,204, 0.4), rgba(0,128,128, 1)); 
	border-bottom: none;
}

.navMargin {
	margin-top: 45px;
}

@media (max-width: 600px) {
	.navbar {
		margin-top: 0;
	}
}

.navbar-default .navbar-nav li a {
	color: #ff8233;
	font-weight: bold;
	font-size: 20px;
}

.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:focus {
	color: #ff8533;  /*Sets the text hover color on navbar*/
}

.nav li {
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
}

.nav li:hover,
.nav li:focus {

    text-decoration: none;
    border-bottom: 2px solid #ff8533; /*Change rollover cell color here*/
}


.navbar-toggle.collapsed .top-bar {
  	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  	transform: rotate(0);
}

.navbar-toggle {
	border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
  	background: transparent !important;
}
.navbar-toggle .icon-bar {
  	width: 22px;
  	transition: all 0.4s;
  	background-color: #ff8533 !important;
}
.navbar-toggle .top-bar {
  	transform: rotate(45deg);
  	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  	opacity: 0;
}
.navbar-toggle .bottom-bar {
  	transform: rotate(-45deg);
  	transform-origin: 10% 90%;
}


 /* home style */

.banner{
	position: relative;
    width: auto;
    max-height: 100%;
    left: 0px;
    right: 0px;
}

.myImage{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.bannerText {
	
	position: absolute;
	top: 60%;
	left: 60%;
	width:20%;
	height: 5%;
	text-align: center;
	
}

.bannerText h1 {
	color: #ff8533;
	margin: auto;
	font-family: "bite-the-bullet";
	font-weight: bolder;
}

/* about */

.aboutImg {
	width: 60%;
	height: auto;
	margin-top: 35%;
	margin-bottom: auto;
	border: 2px solid #008080;
	border-radius: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.aboutText {
	width: 100%;
	height: auto;
	margin-top: 35%;
	margin-bottom: 5%;
	font-family: "bite-the-bullet";
	font-size: 20px;
}

@media (max-width: 990px) {
	.aboutText {
		margin-top: 10%;
	}
}

.qualificationText {
	width: 100%;
	height: auto;
	margin-bottom: 5%;
	font-family: "bite-the-bullet";
	font-size: 20px;
}


/* service */

.modal-content {
	background-color: #ff8533;
	font-family: "bite-the-bullet";
	color:#008080;
	font-weight: bold;
	font-size: 20px;

}

.modal-title {
	font-family: "bite-the-bullet";
	color: #008080;
	font-weight: bolder;
	font-size: 28px;
}

.topArrow {
	width:50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
	text-align: center;
	padding-top: 20px;
}

.topArrow p {
	font-size: 10px;
	line-height: 12px;
}

/* service hover */

.hovereffect {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.hovereffect .overlay {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 55%;
	height: 81%;
	left: 22%;
	top: 10%;
	border-radius: 80%;
	border: 2px solid #008080;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(50%,50%,0);
	transform: translate3d(50%,50%,0);
}

.hovereffect img {
	display: block;
	position: relative;
	border: 2px solid #008080;
	margin-top: 5%;
	width: 90%;
	height:auto;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}


.hovereffect .serviceLink {
	color: #ff8533;
	padding: 1em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-150%,-400%,0);
	transform: translate3d(-150%,-400%,0);
}

.hovereffect .servicePara {
	color: #ff8533;
	padding: 2.3em 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-150%,-400%,0);
	transform: translate3d(-150%,-400%,0);
}



@media (min-width: 990px) {
	.hovereffect:hover img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(1.4);
	-webkit-filter: brightness(1.4);
}

	.hovereffect:hover .overlay {
	background-color: rgba(0,0,0,0.6);
}

	.hovereffect:hover .serviceLink, .hovereffect:hover .servicePara, .hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
}

.serviceRow {
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

.serviceImage i {
	position: absolute;
	top: 50px;
	left: 50px;
	padding: 5px;
	font-size: 30px;
}


/* carousel */

#caroID {
	margin-top: 2%;
	margin-bottom: 5%;

}

.row h2 {
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
}

#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 25px;
}

#quote-carousel .carousel-control {
	background: none;
	color: #ff8533
	font-size 2em;
	text-shadow: none;
	margin-top: 30px;
}

#quote-carousel .carousel-indicators {
	position: absolute;
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-top: 20px;
	margin-bottom: -40px;
}

@media (max-width: 800px) {
	#quote-carousel .carousel-indicators {
		margin-bottom: -15px;
	}
}

#quote-carousel .carousel-indicators li {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border:  2px solid #008080;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	opacity: 0.4;
	overflow: hidden;
	transition: all .4s ease-in;
	vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

@media (max-width: 800px) {
	#quote-carousel .carousel-indicators .active {
		width: 80px;
		height: 80px;
	}
}
.item blockquote {
    border-left: none;
    margin-bottom: 10%;
}

@media (max-width: 600px) {
	.item blockquote {
		margin-bottom: 35%;
	}
}

.item blockquote p:before {
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.fa {
	color: #ff8533; 
}

/* blog */

.header {
	margin-top: 10%;
	padding-bottom: 10px;
	color: #ff8533;
	text-align: center;
	
}

.header h1 {
	font-weight: bolder;
}

.page-internal {
	background-color: rgba(255, 255, 255, 0.5);
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 16px;
	border-top: 2px solid #008080;
}

.blogImg {
	float: left;
	padding-right: 50px;
	padding-top: 40px;
	padding-bottom: 10px;
}

.blogImg img {
	
	max-width:300px;
	border:2px solid #008080;
}

.blogItem { 
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
	width: 100%;
}

.blogItem .blogHeader {
	font-size: 28px;
	text-align: left;
}

.blogItem .blogDate {
	font-style: italic;
	color: #008080;
	font-size: 12px;
	font-weight: lighter;
}

/* contact */

.contactMargin {
	margin-top: 7%;
}

.form-margin {
	margin-top: 5%;
	margin-bottom: 5%;
}

.socialCont {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.hovereffect .overlayContact {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect #socialImg {
	width: 100%;
}

.hovereffect .socialIcon.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect .socialIcon.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect hr {
  width: 40%;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 1px solid #008080;
}

.hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(4) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1, 180deg) scale3d(0,0,1);
}

.hovereffect .socialTxt, .hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.set1, .set2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.set1 {
  top: 40%;
}

.set2 {
  top: 60%;
}

.hovereffect .socialPara {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}


.hovereffect p .socialIcon:hover,
.hovereffect p .socialIcon:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  .socialIcon i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 20px;
}

.set1 .socialIcon:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

.set1 .socialIcon:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

.set2 .socialIcon:first-child i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

.set2 .socialIcon:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0);
  transform: translate3d(60px,60px,0);
}

.hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(4) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
}

.hovereffect:hover .set1 i:empty, .hovereffect:hover .set2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2 {
	display: none;
}

@media (max-width: 990px) {
	.hovereffect hr:nth-child(3) {
	  opacity: 1;
	  filter: alpha(opacity=100);
	  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
	  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
	}

	.hovereffect hr:nth-child(4) {
	  opacity: 1;
	  filter: alpha(opacity=100);
	  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
	  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
	}

	.hovereffect .set1 i:empty, .hovereffect .set2 i:empty {
	  -webkit-transform: translate3d(0,0,0);
	  transform: translate3d(0,0,0);
	  opacity: 1;
	  filter: alpha(opacity=100);
	}

	.hovereffect h2 {
		display: none;
	}

}

/* footer */

.footer-distributed {
	background-color: #008080;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	overflow: hidden;
	/*margin-top: 80px;*/
}

.footer-distributed .footer-left p {
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a {
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px; 

	margin-left: 3px;
}


@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right {
		text-align: center;
	}

	.footer-distributed .footer-right {
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links {
		line-height: 1.8;
	}
}