



/* nav style */

.navbar {
	margin-top: 45px;
	background: linear-gradient(to right, rgba(0,204,204, 0.4), rgba(0,128,128, 1)); 
	border-bottom: none;
}

.navbar-default .navbar-header a {
	color: #ff8533;
}

.navbar-default .navbar-nav li a {
	color: #ff8233
}

.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li a:focus {
color: #ff8533;  /*Sets the text hover color on navbar*/
}

.nav li {
	border-bottom: 2px solid transparent;
	border-top: 2px solid transparent;
}

.nav li:hover,
.nav li:focus {

    text-decoration: none;
    border-bottom: 2px solid #ff8533; /*Change rollover cell color here*/
}


.navbar-toggle.collapsed .top-bar {
  	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  	transform: rotate(0);
}

.navbar-toggle {
	border: none;
    background: transparent !important;
}
.navbar-toggle:hover {
  	background: transparent !important;
}
.navbar-toggle .icon-bar {
  	width: 22px;
  	transition: all 0.4s;
  	background-color: #ff8533 !important;
}
.navbar-toggle .top-bar {
  	transform: rotate(45deg);
  	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  	opacity: 0;
}
.navbar-toggle .bottom-bar {
  	transform: rotate(-45deg);
  	transform-origin: 10% 90%;
}


 /* home style */

#banner{
	position: relative;
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

#myImage{
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.bannerText {
	
	position: absolute;
	top: 60%;
	left: 60%;
	width:20%;
	height: 5%;
	background: linear-gradient(to right, rgba(0,204,204, 0.4), rgba(0,128,128, 1));
	border:2px solid #ff8533; 
	text-align: center;
	
}

.bannerText h3 {
	color: #ff8533;
	margin: auto;
}

/* carousel */

#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 60px;
}

#quote-carousel .carousel-control {
	background: none;
	color: #ff8533
	font-size 2em;
	text-shadow: none;
	margin-top: 30px;
}

#quote-carousel .carousel-indicators {
	position: relative;
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-top: 20px;
	margin-bottom: -19px;
}

#quote-carousel .carousel-indicators li {
	width: 50px;
	height: 50px;
	cursor: pointer;
	border:  1px solid #008080;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	opacity: 0.4;
	overflow: hidden;
	transition: all .4s ease-in;
	vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    /*font-family: 'Fontawesome';*/
    float: left;
    margin-right: 10px;
}